.split {
    margin-top: 1%;
    &.left {
        width: 25%;
        margin-right: 3%;
        margin-left: 2%;
    }
    &.right {
        width: 67%;
        margin-right: 3%;
    }
}

@media screen and (max-width: 1000px) {
    .split {
        &.left {
            width: 100% !important;
            margin-right: 0%;
            margin-left: 0%;
        }
        &.right {
            width: 100% !important;
            margin-right: 0%;
        }
    }
}